.detail{
    padding-top: 90px;
    background-color: #212428;
}
.detail-item{
    margin: auto;
    width: 90%;
}
.ant-layout, .ant-layout * {
    border: none;
    color: white;
}
.ant-card-bordered{
    border: none;
}
a:hover{
    color: white;
}
.ant-image-img{
    border-radius: 3px;
}