.header{
  z-index: 999;
  position: fixed;
  width: 100%;
}
.ant-input-group-addon{
  display: none;
}
.ant-input-affix-wrapper{
  border-radius: 30px;
}
.menu{
  background: #001529;
}
.ant-menu-horizontal > .ant-menu-item a{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 15px;
}
.ant-menu-horizontal > .ant-menu-item a:hover{
  background-color: #ff343f;
  border: none;
  transition: 1s;
}
.ant-menu-horizontal{
  border-bottom: 0;
}
.ant-menu-horizontal > .ant-menu-item a:hover{
  color: white;
  border: none;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: none;
}

