
.ant-divider-inner-text h1{
    color: white;
}
.ant-card-meta-title{
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.ant-card-meta-description{
    color: #a2a2a2;
    font-size: 16px
}
.ant-divider-horizontal.ant-divider-with-text::before, .ant-divider-horizontal.ant-divider-with-text::after {
    border: none;
}
